<!DOCTYPE html>
<header th:fragment = "employeeHeader">
	<div class="row">
		<h3>用户管理</h3>
	</div>
					
	<div class="row">
		<div class="col-md-2  col-md-offset-3">
			<a th:href = "@{/employee/list}">列表</a>
		</div>
		
		<div class="col-md-2">
			<a th:href = "@{/employee/add}">添加</a>
		</div>
		
		<div class="col-md-5">
			<form th:action="@{/employee/findByName}" >
				人员名称：<input type="text" name="name"></input>
				<input type="submit" value="查找"></input>
			</form>
		</div>
		
	</div>
	
	<hr></hr>
	
</header>	
