<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
<title>人员管理</title>
</head>
<body>

<header th:replace="common/top_head :: navbar"></header>

<div class="container-fluid">		
	<div class="row">
		<div class="col-md-2">
			<header th:replace="common/top_head :: system"></header>				
		</div>
		
		<div class="col-md-10">
			<header th:replace = "common/top_orgnization ::orgnizationHeader"></header>
			
			<form th:action = "@{/orgnization/update}" th:object = "${orgnization}" th:method = "post" class="form-horizontal">
				<input type="hidden" th:value="${orgnization.id}" th:field="*{id}"></input>
				
				<div class="form-group">
					<label class="col-md-2 control-label">单位名称：</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{name}" class="form-control"></input>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">单位地址：</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{address}" class="form-control"></input>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">联系电话：</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{officePhone}" class="form-control"></input>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-2 control-label">电子邮箱：</label>
					<div class="col-sm-4">
						<input type="text" th:field="*{email}" class="form-control"></input>
					</div>
				</div>
				
				 <div class="form-group">
				 	<div class="col-sm-offset-2 col-sm-4">
				 		<input type="submit"></input>
				 	</div>
				 </div>
			
			</form>
			
		</div>
	</div>
</div>





</body>
</html>